/*Если бы шрифты подключались локально

@font-face{
  font-family:"PT Sans";
  font-style:normal;
  font-weight:400;
  src:local("PT Sans"), local("PTSans-Regular"),
      url(fonts/ptsans.woff2) format('woff2'),
      url(fonts/ptsans.woff) format('woff');

@font-face{
  font-family:"PT Sans";
  font-style:bold;
  font-weight:700;
  src:("PT Sans Bold"), local("PTSans-Bold"),
      url(fonts/ptsansbold.woff2) format('woff2'),
      url(fonts/ptsansbold.woff) format('woff');*/

html{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

*,
*::before,
*::after{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  border:0;
  padding:0;
  white-space:nowrap;
  -webkit-clip-path:inset(100%);
          clip-path:inset(100%);
  clip:rect(0 0 0 0);
  overflow:hidden;
}

body{
  margin:0;
  padding:0;
  font-family:"PT Sans", "Arial", sans-serif;
  font-size:14px;
  line-height:21px;
  color:#333333;
  font-style:normal;
  font-weight:400;
  text-transform:uppercase;
  background-color:#f2f2f2;
}

.container{
  position:relative;
  margin:0 auto;
  width:1200px;
  background-color:#ffffff;
  -webkit-box-shadow:2px 0px 15px -3px #000000;
          box-shadow:2px 0px 15px -3px #000000;
}

a{
  text-decoration:none;
  color:#000000;
}

img{
  max-width:100%;
  height:auto;
}

/*Главная страница*/

.navigation-list,
.reasons-recomendation-list,
.reasons-others-list,
.social-list,
.filter-infrastructure-list,
.filter-type-list,
.sorting-list,
.hotels-results,
.hotels-stars{
  margin:0;
  padding:0;
  list-style:none;
}

.main-header{
  min-height:56px;
  position:relative;
}

.main-header .logo{
  position:absolute;
  left:50%;
  margin-left:-69px;
  /*либо left: calc(50%-69px);*/
}

.navigation{
  font-size:14px;
  line-height:26px;
  color:#000000;
  font-weight:700;
  background-color:#ffffff;
  min-height:56px;
  width:100%;
}

.navigation-list{
  margin-left:72px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
  width:100%;
}

.navigation-list a{
  color:#000000;
}

.navigation-list a:hover{
  color:#81b3d2;
}

.navigation-list a:active{
  color:rgba(0,0,0,0.3);
}

.navigation-item{
  width:20%;
  padding-top:15px;
  padding-bottom:14px;
}

.navigation-left{
  text-align:left;
}

.navigation-right{
  text-align:right;
}

.navigation-map{
  -webkit-box-sizing:content-box;
          box-sizing:content-box;
  margin-left:95px;
}

.promo{
  text-align:center;
  background-color:#24383f;
  background-image:url("../img/promo-background.jpg");
  background-position:center -56px;
  background-repeat:no-repeat;
  min-height:547px;
}

.promo-welcome{
  position:relative;
  top:76px;
}

.description{
  text-align:center;
  background-color:#ffffff;
  min-height:177px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.description-top{
  margin:0;
  padding:0;
  min-height:100px;
  width:576px;
  padding-top:21px;
}

.description-bottom{
  margin:0;
  padding:0;
  min-height:77px;
  width:950px;
  padding-top:1px;
}

.description-top p{
  font-size:21px;
  line-height:26px;
  color:#000000;
  font-weight:700;
  margin:0;
  padding:0;
}

.description-bottom p{
  line-height:26px;
  margin:0;
  padding:0;
}

.reasons{
  margin:0;
  padding:0;
  text-align:center;
  background-color:#81b3d2;
  min-height:256px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.reasons-content{
  margin:0;
  padding:0;
  width:400px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.reasons-text{
  padding:0;
  margin:0;
  width:280px;
  padding-top:0px;
  padding-bottom:20px;
}

.reasons-second .reasons-text{
  width:310px;
}

.reasons-number{
  margin:0;
  padding:0;
  width:400px;
  padding-bottom:20px;
  padding-top:2px;
}

.reasons-second{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
          flex-direction:row-reverse;
}

.reasons-title{
  margin:0;
  padding:0px;
  font-size:21px;
  line-height:21px;
  color:#000000;
  font-weight:700;
  width:155px;
  padding-top:48px;
  padding-bottom:22px;
}

.reasons-second .reasons-title{
  padding-top:46px;
}

.reasons:nth-child(n),
.reasons-content .reasons-title{
  color:#ffffff;
}

.reasons-picture{
  margin:0;
  padding:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:256px;
}

.reasons-recomendation{
  min-height:331px;
}

.reasons-recomendation-list{
  margin:0;
  padding:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.reasons-recomendation-item{
  margin:0;
  padding:0;
  text-align:center;
  width:400px;
  min-height:331px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.reasons-title-recomendation{
  padding-top:160px;
  position:relative;
}

.reasons-title-house::before{
  content:"";
  width:80px;
  height:70px;
  position:absolute;
  background-image:url("../img/icon-1.svg");
  background-repeat:no-repeat;
  background-position:50% 50%;
  top:50%;
  margin-top:-40px;
  left:50%;
  margin-left:-40px;
}

.reasons-title-food::before{
  content:"";
  width:74px;
  height:70px;
  position:absolute;
  background-image:url("../img/icon-3.svg");
  background-repeat:no-repeat;
  background-position:50% 50%;
  top:50%;
  margin-top:-40px;
  left:50%;
  margin-left:-42px;
}

.reasons-title-souvenirs::before{
  content:"";
  width:64px;
  height:76px;
  position:absolute;
  background-image:url("../img/icon-2.svg");
  background-repeat:no-repeat;
  background-position:50% 50%;
  top:50%;
  margin-top:-46px;
  left:50%;
  margin-left:-32px;
}

.reasons-recomendation .reasons-text{
  padding-top:5px;
}

.reasons-text-food{
  width:290px;
}

.reasons-others{
  text-align:center;
  background-color:#eeeeee;
  min-height:256px;
}

.reasons-others-list{
  margin:0;
  padding:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  min-height:256px;
}

.reasons-others-item{
  width:400px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.hotels{
  text-align:center;
  min-height:291px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.hotels-title{
  padding:0;
  margin:0;
  font-size:30px;
  line-height:36px;
  font-weight:700;
  color:#000000;
  padding-top:49px;
  padding-bottom:25px;
  width:576px;
  text-align:center;
}

.hotels-tip{
  padding:0;
  margin:0;
  line-height:24px;
  width:950px;
  margin-bottom:47px;
}

.button{
  font:inherit;
  text-align:center;
  color:#ffffff;
  vertical-align:middle;
  text-transform:uppercase;
  background-color:#81b3d2;
  border:none;
}

.hotels-button{
  width:568px;
  font-size:21px;
  line-height:26px;
  font-weight:700;
  background-color:#766357;
  padding-top:30px;
  padding-bottom:30px;
}

.hotels-button:hover{
  background-color:#604e43;
}

.hotels-button:active{
  color:rgba(255, 255, 255, 0.3);
  background-color:#503e33;
}

.modal{
  margin:0;
  padding:0;
}

.modal-search{
  position:absolute;
  margin:0;
  padding:55px;
  min-height:393px;
  width:567px;
  left:316px;
  -webkit-box-shadow:2px 0px 15px -3px #000000;
          box-shadow:2px 0px 15px -3px #000000;
  background-color:#ffffff;
}

.search-form{
  margin:0;
  padding:0;
}

.search-form-item,
.search-form-item input[placeholder]{
  line-height:26px;
  font-weight:700;
  color:#000000;
  text-transform:uppercase;
  opacity:1;
}

.search-form-item{
  margin:0px;
  padding:0;
  width:460px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.search-form-date{
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  position:relative;
  margin-bottom:29px;
}

.search-form-adults{
  width:226px;
  float:left;
}

/*для выравнивания в IE*/
.search-form-date-in input{
  margin-left:22px;
}

.search-form-date-out input{
  margin-left:19px;
}
/*end*/

.search-form-adults label{
  padding-right:41px;
}

.search-form-children{
  width:230px;
  padding-left:53px;
}

.search-form-children label{
  padding-right:26px;
}

.search-form-item input{
  /*margin:0;*/
  padding:0;
  width:346px;
  height:38px;
  background-color:#f2f2f2;
  border:none;
}

.search-form-item input::-webkit-input-placeholder{
  color:#000000;
  opacity:1;
}

.search-form-item input:-moz-placeholder{
  color:#000000;
  opacity:1;
}

.search-form-item input::-moz-placeholder{
  color:#000000;
  opacity:1;
}

.search-form-item input:-ms-input-placeholder{
  color:#000000;
}

.search-form-item input:hover{
  background-color:#ebebeb;
}

.search-form-item input:focus{
  -webkit-box-shadow:inset 0 0 2px grey;
          box-shadow:inset 0 0 2px grey;
  background-color:#ffffff;
  outline:none;
}

.search-form-adults input,
.search-form-children input{
  width:38px;
  height:38px;
}

.search-form-adults input[placeholder],
.search-form-children input[placeholder]{
  text-align:center;
}

.search-form-calendar{
  fill:#a9a9a9;
  position:absolute;
  left:100%;
  margin-left:-30px;
  top:50%;
  margin-top:-11px;
}

.button-plus,
.button-minus{
  width:38px;
  height:38px;
  padding:0;
  margin:0;
  border:none;
  background-color:#f2f2f2;
}

.button-plus:hover rect,
.button-minus:hover rect,
.search-form-calendar:hover path{
  fill:#000000;
}

.button-plus:active rect,
.button-minus:active rect,
.search-form-calendar:active path{
  fill:#81b3d2;
}

.button-search{
  min-height:58px;
  width:458px;
  font-size:21px;
  line-height:26px;
  font-weight:700;
  margin-top:54px;
}

.button-search:hover{
  background-color:#669ec0;
}

.button-search:active{
  color:rgba(255,255,255,0.3);
  background-color:#5496bd;
}

.map{
  position:relative;
  text-align:center;
  margin:0;
  padding:0;
  min-height:593px;
}

.map p{
  margin:0;
  padding:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.main-footer{
  min-height:120px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  background-color:transparent;
}

.index-footer{
  position:absolute;
  width:100%;
  left:0;
  bottom:0;
  background-color:rgba(255,255,255,0.85);
}

.footer-social a{
  color:#ffffff;
}

.footer-social{
  text-align:center;
  width:400px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding:34px 0;/*для выравнивания в IE*/
}

.social-list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.social-button{
  width:46px;
  height:48px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin:2.5px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  color:#ffffff;
  background-color:#81b3d2;
}

.social-button:hover{
  background-color:#669ec0;
}

.social-button:active{
  color:rgba(255,255,255,0.3);
  background-color:#5496bd;
}

.social-button:active path{
  fill:rgba(255,255,255,0.3);
}

.footer-hashtag{
  font-size:21px;
  line-height:26px;
  font-weight:700;
  width:400px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding:20px 73px;
  text-align:center;
}

.footer-copyright{
  width:400px;
  line-height:26px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding:20px 73px;
  text-align:center;
}

.copyright-button{
  width:117px;
  height:42px;
  margin-left:10px;
}

.copyright-button:hover path{
  fill:#81b3d2;
}

.copyright-button:active path{
  fill:#bdbbbc;
}

/*Внутренняя страница*/

.navigation-current a,
.navigation-current a:hover,
.navigation-current a:active{
  color:#766357;
}

.filter{
  color:#ffffff;
  background-color:#24383f;
  background-image:url("../img/filter-background.jpg");
  background-position:right -50px;
  background-repeat:no-repeat;
  min-height:215px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.filter-form{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

.filter-form fieldset{
  border:none;
  margin:0;
  padding:0;
}

.filter-form legend{
  font-size:16px;
  line-height:21px;
  font-weight:700;
}

.filter-infrastructure-legend,
.filter-type-legend{
  padding-top:27px;
  padding-bottom:24px;
}

.filter-type-legend{
  margin-left:14px;
}

.filter-form .filter-infrastructure{
  width:241px;
  margin-left:71px;
}

.filter-form .filter-type{
  width:288px;
}

.filter-type-list,
.filter-infrastructure-list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  min-height:113px;
  padding-top:1px;
}

.filter-infrastructure-list{
  padding-left:40px;
}

.filter-type-list{
  padding-left:56px;
}

.filter-label{
  display:block;
  cursor:pointer;
  position:relative;
  margin-bottom:25px;
}

.filter-label input[type="checkbox"] + .checkbox-indicator{
  position:absolute;
  top:-2px;
  left:-40px;
}

.filter-input:checked + .checkbox-indicator::after{
  content:"";
  position:absolute;
  width:28px;
  height:28px;
  top:0;
  left:0;
  background-image:url("../img/checkbox-on.svg");
  background-repeat:no-repeat;
  background-position:0 0;
}

.filter-input:disabled + .checkbox-indicator path{
  fill:#6a6a6a;
}

.filter-input:checked:disabled + .checkbox-indicator::after{
  background-image:url("../img/checkbox-on-disabled.svg");
}

.filter-input:focus + .checkbox-indicator{
  outline:2px solid #5ba9d9;
}

.filter-range{
  width:328px;
  margin-left:200px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  padding-top:27px;
  -ms-flex-line-pack:end;
      align-content:flex-end;
}

.filter-range-title{
  font-size:16px;
  line-height:21px;
  font-weight:700;
  margin-bottom:10px;
  padding-left:10px;
}

.filter-price-controls{
  position:relative;
  height:36px;
  margin-bottom:20px;
  border:2px solid #ffffff;
  border-radius:2px;
  font-size:0;
  margin-left:10px;
}

.filter-price-controls::after{
  content:"";
  position:absolute;
  width:2px;
  height:22px;
  background:#ffffff;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
      -ms-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
}

.filter-price-controls label{
  display:inline-block;
  font-size:14px;
  line-height:32px;
  vertical-align:top;
  cursor:pointer;
}

.filter-controls-min-price,
.filter-controls-max-price{
  -webkit-box-sizing:content-box;
          box-sizing:content-box;
  width:80px;
  padding-left:65px;
}

.filter-price-controls input{
  width:50px;
  height:26px;
  padding:0;
  color:inherit;
  font:inherit;
  background:none;
  border:none;
}

.filter-price-controls input::-webkit-input-placeholder{
  color:#ffffff;
  opacity:1;
}

.filter-price-controls input:-moz-placeholder{
  color:#ffffff;
  opacity:1;
}

.filter-price-controls input::-moz-placeholder{
  color:#ffffff;
  opacity:1;
}

.filter-price-controls input:-ms-input-placeholder{
  color:#ffffff;
}

.filter-range-controls{
  position:relative;
  margin-left:10px;
}

.filter-range-scale{
  height:2px;
  background-color:rgba(255, 255, 255, 0.3);
}

.filter-range-bar{
  width:80%;
  height:2px;
  background-color:#ffffff;
}

.filter-range-toggle-min,
.filter-range-toggle-max{
  position:absolute;
  top:-9px;
  left:0;
}

.filter-range-toggle-max{
  left:80%;
}

.filter-range-toggle:hover{
  -webkit-transform:scale(1.1);
      -ms-transform:scale(1.1);
          transform:scale(1.1);
  cursor:pointer;
}

.filter-button{
  margin-top:32px;
  background-color:transparent;
  border:2px solid #ffffff;
  -ms-flex-item-align:center;
      align-self:center;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:35px;
  padding-right:34px;
  margin-bottom:20px;
  max-width:315px;
}

.filter-button:hover{
  color:#000000;
  background-color:#ffffff;
}

.sorting{
  min-height:88px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding:0 71px;
  border-bottom:1px solid #e5e5e5;
}

.sorting-found{
  width:135px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -ms-flex-negative:0;
      flex-shrink:0;
}

.sorting-found span{
  font-size:21px;
  line-height:26px;
  font-weight:700;
}

.sorting-types{
  width:563px;
  padding:0;
  margin:0;
  margin-left:30px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding-top:38px;
  padding-bottom:20px;
}

.sorting-list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.sorting-types h3{
  font-size:12px;
  line-height:18px;
  margin:0;
}

.sorting-item a{
  font-size:12px;
  line-height:18px;
  color:rgba(0,0,0,0.3);
  border-bottom:1px dotted #81b3d2;
}

.sorting-item a:hover{
  color:#81b3d2;
}

.sorting-item a:active{
  color:#000000;
}

.sorting-current a,
.sorting-current a:hover,
.sorting-current a:active{
  color:#81b3d2;
  border:none;
}

.sorting-item{
  margin-left:39px;
  margin-top:-2px;
}

.sorting-2{
  margin-left:32px;
}

.sorting-3{
  margin-left:33px;
}

.sorting-ranging{
  width:241px;
  margin-left:86px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
  padding-top:35px;
}

.button-sorting{
  width:11px;
  height:10px;
}

.button-sorting-up,
.button-sorting-down{
  background-color:transparent;
  border:none;
}

.button-sorting-up path{
  fill:#cacaca;
}

.button-sorting-down{
  margin-left:12px;
}

.button-sorting-down path{
  fill:#81b3d2;
}

.button-sorting:hover path{
  fill:#000000;
}

.button-sorting:active path{
  fill:#81b3d2;
}

.hotels-inner{
  margin:0;
  padding:0;
  min-height:453px;
}

.hotels-results{
  margin:0;
  padding:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}

.hotels-item{
  min-height:150px;
  padding-top:30px;
  padding-bottom:30px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  padding-left:73px;
  border-bottom:1px solid #e5e5e5;
}

.hotels-photo{
  margin:0;
  padding:0;
  height:90px;
}

.hotels-content{
  margin:0;
  padding:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  width:563px;
  min-height:90px;
  margin-left:30px;
}

.hotels-item-title{
  margin:0;
  padding:0;
  font-size:21px;
  line-height:26px;
  font-weight:700;
  width:563px;
  margin-bottom:7px;
  margin-top:-4px;
}

.hotels-item-title a:hover{
  color:#81b3d2;
}

.hotels-item-title a:active{
  color:rgba(0,0,0,0.3);
}

.price-info{
  margin:0;
  padding:0;
  width:563px;
  margin-bottom:12px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.price-info-left{
  display:block;
  min-width:108px;
  max-width:186px;
}

.price-info-right{
  display:block;
  margin-left:8px;
  max-width:186px;
}

.hotels-details-button,
.hotels-reservation-button{
  margin:0;
  padding:0;
  font-weight:700;
  padding:2px 15px;
  max-width:270px;
}

.hotels-details-button:hover{
  background-color:#669ec0;
}

.hotels-details-button:active{
  color:rgba(255,255,255,0.3);
  background-color:#5496bd;
}

.hotels-reservation-button{
  background-color:#766357;
  margin-left:7px;
  padding:2px 17px;
}

.hotels-reservation-button:hover{
  background-color:#604e43;
}

.hotels-reservation-button:active{
  color:rgba(255, 255, 255, 0.3);
  background-color:#503e33;
}

.hotels-rating{
  min-height:90px;
  width:241px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align:end;
      -ms-flex-align:end;
          align-items:flex-end;
  margin-left:84px;
}

.hotels-rating span{
  text-align:center;
  background-color:#f2f2f2;
  padding:2px 12px;
}

.hotels-stars{
  width:115px;
  min-height:17px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  padding-bottom:20px;
}

.hotels-stars-item{
  width:18px;
  height:17px;
  margin-left:5px;
  background-image:url("../img/star.svg");
  background-repeat:no-repeat;
  background-position:0 0;
}
