/*Если бы шрифты подключались локально

@font-face{
  font-family:"PT Sans";
  font-style:normal;
  font-weight:400;
  src:local("PT Sans"), local("PTSans-Regular"),
      url(fonts/ptsans.woff2) format('woff2'),
      url(fonts/ptsans.woff) format('woff');

@font-face{
  font-family:"PT Sans";
  font-style:bold;
  font-weight:700;
  src:("PT Sans Bold"), local("PTSans-Bold"),
      url(fonts/ptsansbold.woff2) format('woff2'),
      url(fonts/ptsansbold.woff) format('woff');*/

html{
  box-sizing:border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

.visually-hidden{
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  border:0;
  padding:0;
  white-space:nowrap;
  clip-path:inset(100%);
  clip:rect(0 0 0 0);
  overflow:hidden;
}

body{
  margin:0;
  padding:0;
  font-family:"PT Sans", "Arial", sans-serif;
  font-size:14px;
  line-height:21px;
  color:#333333;
  font-style:normal;
  font-weight:400;
  text-transform:uppercase;
  background-color:#ffffff;

  width:1200px;
}

a{
  text-decoration:none;
  color:#000000;
}

/*Главная страница*/

.main-header{
  outline:2px solid red;
  min-height:56px;

  position:relative;
  display:flex;
  justify-content:center;
}

.main-header .logo{
  position:absolute;
  left:50%;
  margin-left:-69px;
  /*либо left: calc(50%-69px);*/
}

.navigation{
  font-size:14px;
  line-height:26px;
  color:#000000;
  font-style:normal;
  font-weight:700;
  background-color:#ffffff;

  outline:2px solid green;
  min-height:56px;
  width:1128px;

}

.navigation-list{
  margin:0;
  padding:0;
  display:flex;
}

.navigation-list,
.reasons-recomendation-list,
.reasons-others-list,
.social-list,
.filter-infrastructure-list,
.filter-type-list,
.sorting-list,
.hotels-results,
.hotels-stars{
  margin:0;
  padding:0;
  list-style:none;
}

.navigation-list a{
  color:#000000;
}

.navigation-list a:hover{
  color:#81b3d2;
}

.navigation-list a:active{
  color:rgba(0,0,0,0.3);
}

.promo{
  text-align:center;
  background-color:#24383f;
  background-image:url("../img/promo-background.jpg");
  background-position:center -55px;
  background-repeat:no-repeat;

  min-height:547px;
  outline:2px solid blue;
}

.promo-welcome{
  position:relative;
  top:77px;
  outline:2px solid white;
}

.description{
  text-align:center;
  background-color:#ffffff;

  min-height:178px;
  outline:2px solid green;
  display:flex;
  flex-direction:column;
}

.description-top{
  margin:0;
  padding:0;
  outline:2px solid orange;
  min-height:100px;
}

.description-bottom{
  outline:2px solid orange;
  min-height:79px;
}

.description-top p{
  font-size:21px;
  line-height:26px;
  color:#000000;
  font-weight:700;

  margin:0;
  padding:0;
}

.description-bottom p{
  line-height:26px;

  margin:0;
  padding:0;
}

.reasons{
  text-align:center;
  background-color:#81b3d2;

  min-height:258px;
  display:flex;
  outline:2px solid red;
}

.reasons-second{
  flex-direction:row-reverse;
}

.reasons-title{
  font-size:21px;
  line-height:21px;
  color:#000000;
  font-weight:700;
}

.reasons-first:nth-child(n),
.reasons-first-content .reasons-title,
.reasons-second:nth-child(n),
.reasons-second-content .reasons-title{
  color:#ffffff;
}

.reasons-recomendation{
  min-height:331px;
  outline:2px solid blue;
}

.reasons-recomendation-list{
  margin:0;
  padding:0;
  display:flex;
}

.reasons-recomendation-item{
  text-align:center;

  width:400px;
  min-height:331px;
  outline:2px solid yellow;
}

.reasons-others{
  text-align:center;
  background-color:#eeeeee;

  min-height:256px;
}

.reasons-others-list{
  margin:0;
  padding:0;
  display:flex;
  min-height:256px;

  outline:2px solid violet;
}

.reasons-others-item{
  width:400px;
  outline:2px solid yellow;
}

.hotels{
  text-align:center;

  min-height:256px;
  display:flex;
  flex-direction:column;
  outline:2px solid green;
}

.hotels-title{
  font-size:30px;
  line-height:36px;
  font-weight:700;
  color:#000000;
}

.hotels-tip{
  line-height:24px;
}

.button{
  font:inherit;
  text-align:center;
  color:#ffffff;
  vertical-align:middle;
  text-transform:uppercase;
  background-color:#81b3d2;
  border:1px solid rgba(0, 1, 1, 0.25);
  /*box-shadow:inset 0 10px rgba(0, 1, 1, 0.25);*/
}

.hotels-button{
  font-size:21px;
  line-height:26px;
  font-weight:700;
  background-color:#766357;
}

.hotels-button:hover{
  background-color:#604e43;
}

.hotels-button:active{
  color:rgba(255, 255, 255, 0.3);
  background-color:#503e33;
}

.modal{

  background-color:#ffffff;
}

.modal-search{
  margin:0;
  padding:0;
  min-height:397px;
  width:575px;
  outline:2px solid pink;
}

.search-form-item,
.search-form-item input[placeholder]{
  line-height:26px;
  font-weight:700;
  color:#000000;
  text-transform:uppercase;
}

.search-form-item input{
  background-color:#f2f2f2;
  border:2px solid rgba(0,1,1,0.2);
}

.search-form-item input[placeholder]{
  text-transform:uppercase;
  color:#000000; /*цвет не меняет, остаётся как у border*/
}

.search-form-item input:hover{
  background-color:#ebebeb;
}

.search-form-item input:focus{
  outline:none;
  background-color:#ffffff;
}

.button-plus,
.button-minus{
  color:#a9a9a9;
  background-color:#f2f2f2;
}

.button-plus:hover,
.button-minus:hover{
  color:#000000;
}

.button-plus:active,
.button-minus:active{
  color:#81b3d2;
  outline:none;
}

.button-search{
  font-size:21px;
  line-height:26px;
  font-weight:700;
}

.button-search:hover{
  background-color:#669ec0;
}

.button-search:active{
  color:rgba(255,255,255,0.3);
  background-color:#5496bd;
}

.map{
  text-align:center;

  margin:0;
  padding:0;
  min-height:472px;
  outline:2px solid brown;
}

.map p{
  margin:0;
  padding:0;
}

.main-footer{
  background-color:transparent;

  min-height:122px;
  display:flex;
  justify-content:center;
  outline:2px solid red;
}

.footer-social a{
  color:#ffffff;
}

.footer-social{
  text-align:center;

  outline:2px solid blue;
  width:400px;
  margin-left:88px;
  margin-right:88px;
}

.social-button{
  color:#ffffff;
  background-color:#81b3d2;
}

.social-button:hover{
  background-color:#669ec0;
}

.social-button:active{
  color:rgba(255,255,255,0.3);
  background-color:#5496bd;
}

.footer-hashtag{
  font-size:21px;
  line-height:26px;
  font-weight:700;

  outline:2px solid blue;
  width:240px;
}

.footer-copyright{
  text-align:center;

  outline:2px solid blue;
  width:240px;
}

.footer-copyright span{
  line-height:26px;
}

.copyright-button:hover{
  color:#81b3d2;
}

.copyright-button:active{
  color:#bdbbbc;
}

/*Внутренняя страница*/

.inner-page .main-header{
  outline:2px solid red;
  min-height:56px;

  position:relative;
  display:flex;
  justify-content:center;
}

.inner-page .navigation{
  margin:0;
  padding:0;
  width:1056px;
}

.navigation-current a,
.navigation-current a:hover,
.navigation-current a:active{
  color:#766357;
}

.filter{
  color:#ffffff;
  background-color:#24383f;
  background-image:url("../img/filter-background.jpg");
  background-position:top left;
  background-repeat:no-repeat;

  min-height:215px;
  outline:2px solid violet;
  display:flex;
}

.filter-form{
  display:flex;
  justify-content:center;
}

.filter-form fieldset{
  border:none;
  margin:0;
  padding:0;


  outline:2px solid white;
}

.filter-form legend{
  font-size:16px;
  line-height:21px;
  font-weight:700;
}

.filter-form .filter-infrastructure{
  width:241px;
  margin-left:73px;
}

 .filter-form .filter-type{
  width:288px;
}

.filter-form  .filter-price{
  width:328px;
  margin-left:200px;
  position:relative;
}

.filter-button{
  background-color:transparent;
  border:2px solid #ffffff;
  position:absolute;
  top:150px;
  right:250px;

}

.filter-button:hover{
  color:#000000;
  background-color:#ffffff;
}

.sorting{
  min-height:85px;
  outline:2px solid green;
  display:flex;
  padding:0 73px;
}

.sorting-found{
  outline:2px solid orange;
  width:135px;
}

.sorting-found span{
  font-size:21px;
  line-height:26px;
  font-weight:700;
}

.sorting-types{
  width:406px;
  outline:2px solid pink;
  padding:0;
  margin:0;
}

.sorting-types h3{
  font-size:12px;
  line-height:18px;
}

.sorting-item a{
  font-size:12px;
  line-height:18px;
  color:rgba(0,0,0,0.3);
  border-bottom:1px dotted #81b3d2;
}

.sorting-item a:hover{
  color:#81b3d2;
}

.sorting-item a:active{
  color:#000000;
}

.sorting-current a,
.sorting-current a:hover,
.sorting-current a:active{
  color:#81b3d2;
  border:none;
}

.sorting-ranging{
  outline:2px solid red;
  width:241px;
  margin-left:288px;
}

.button-sorting{
  color:#000000;
  background-color:#cacaca;
}

.button-sorting-down{
  background-color:#81b3d2;
}

.button-sorting:hover{
  color:#ffffff;
  background-color:#000000;
}

.button-sorting:active{
  color:#ffffff;
  background-color:#81b3d2;
}

.hotels-inner{
  margin:0;
  padding:0;
  min-height:455;
}

.hotels-results{
  margin:0;
  padding:0 73px;
  outline:2px solid red;
  display:flex;
  flex-direction:column;
}

.hotels-item{
  outline:2px solid yellow;
  min-height:152px;
  padding-top:32px;
  padding-bottom:32px;
  display:flex;
}

.hotels-item-title{
  font-size:21px;
  line-height:26px;
  font-weight:700;
}

.hotels-item-title a:hover{
  color:#81b3d2;
}

.hotels-item-title a:active{
  color:rgba(0,0,0,0.3);
}

.hotels-details-button,
.hotels-reservation-button{
  font-weight:700;
}

.hotels-details-button:hover{
  background-color:#669ec0;
}

.hotels-details-button:active{
  color:rgba(255,255,255,0.3);
  background-color:#5496bd;
}

.hotels-reservation-button{
  background-color:#766357;
}

.hotels-reservation-button:hover{
  background-color:#604e43;
}

.hotels-reservation-button:active{
  color:rgba(255, 255, 255, 0.3);
  background-color:#503e33;
}

.hotels-rating span{
  text-align:center;
  background-color:#f2f2f2;
}
